@font-face {
    font-family: "extra_light";
    src: url(../assets/fonts/RobotoMono-ExtraLight.ttf);
}

@font-face {
    font-family: "thin";
    src: url(../assets/fonts/RobotoMono-Thin.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: "medium";
    src: url(../assets/fonts/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: "semi_bold";
    src: url(../assets/fonts/RobotoMono-SemiBold.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../assets/fonts/RobotoMono-Bold.ttf);
}

$extra_light: "extra_light", monospace;
$thin: "thin", monospace;
$regular: "regular", monospace;
$medium: "medium", monospace;
$semi_bold: "semi_bold", monospace;
$bold: "bold", monospace;

$dark_blue: #424874;
$light_blue: #A6B1E1;
$light_blue_1: #A3B4FF;
$violet_blue: #DCD6F7;
$light_violet_blue: #F4EEFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, $light_blue_1, white);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
}

.align_center {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}